.detailsforms{
    padding:12%;
    margin-top: 12%;
    background-color: rgba(0, 0, 0, 0.288);
    color: #ffffff;
    width: 80%;
    margin: 0 auto 0 auto;
    font-family: 'Permanent Marker', cursive;
    

   }
  
